<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tutorials</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Tutorial.fountain</string>
			<key>title</key>
			<string>templates.tutorial.title</string>
			<key>description</key>
			<string>templates.tutorial.description</string>
			<key>icon</key>
			<string>map</string>
			<key>target</key>
			<string>macOS</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Tutorial iOS.fountain</string>
			<key>product</key>
			<string>Tutorial.fountain</string>
			<key>title</key>
			<string>templates.tutorial.title</string>
			<key>description</key>
			<string>templates.tutorial.description</string>
			<key>icon</key>
			<string>map</string>
			<key>target</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Outlining Tutorial.fountain</string>
			<key>title</key>
			<string>templates.outliningTutorial.title</string>
			<key>description</key>
			<string>templates.outliningTutorial.description</string>
			<key>icon</key>
			<string>list.and.film</string>
		</dict>
	</array>
	<key>Templates</key>
	<array>
		<dict>
			<key>filename</key>
			<string>One Page Synopsis.fountain</string>
			<key>title</key>
			<string>templates.onePageSynopsis.title</string>
			<key>description</key>
			<string>templates.onePageSynopsis.description</string>
			<key>icon</key>
			<string>doc.text</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Three-act Outline.fountain</string>
			<key>title</key>
			<string>templates.threeActOutline.title</string>
			<key>description</key>
			<string>templates.threeActOutline.description</string>
			<key>icon</key>
			<string>3.circle</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Comic Book Template.fountain</string>
			<key>title</key>
			<string>templates.comicBook.title</string>
			<key>description</key>
			<string>templates.comicBook.description</string>
			<key>icon</key>
			<string>bubble.right.fill</string>
		</dict>
	</array>
</dict>
</plist>
