<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>0</integer>
	<key>selectedTheme</key>
	<integer>0</integer>
	<key>themes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Day</string>
			<key>Background</key>
			<array>
				<integer>240</integer>
				<integer>240</integer>
				<integer>240</integer>
			</array>
			<key>Margin</key>
			<array>
				<integer>230</integer>
				<integer>230</integer>
				<integer>232</integer>
			</array>
			<key>Selection</key>
			<array>
				<integer>0</integer>
				<integer>110</integer>
				<integer>190</integer>
			</array>
			<key>Text</key>
			<array>
				<integer>45</integer>
				<integer>45</integer>
				<integer>45</integer>
			</array>
			<key>InvisibleText</key>
			<array>
				<integer>170</integer>
				<integer>170</integer>
				<integer>170</integer>
			</array>
			<key>Caret</key>
			<array>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
			</array>
			<key>Comment</key>
			<array>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>OutlineBackground</key>
			<array>
				<integer>20</integer>
				<integer>21</integer>
				<integer>23</integer>
			</array>
			<key>OutlineHighlight</key>
			<array>
				<integer>230</integer>
				<integer>230</integer>
				<integer>230</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Night</string>
			<key>Margin</key>
			<array>
				<integer>15</integer>
				<integer>15</integer>
				<integer>15</integer>
			</array>
			<key>Background</key>
			<array>
				<integer>25</integer>
				<integer>25</integer>
				<integer>25</integer>
			</array>
			<key>Selection</key>
			<array>
				<integer>150</integer>
				<integer>150</integer>
				<integer>150</integer>
			</array>
			<key>Text</key>
			<array>
				<integer>170</integer>
				<integer>170</integer>
				<integer>170</integer>
			</array>
			<key>InvisibleText</key>
			<array>
				<integer>80</integer>
				<integer>80</integer>
				<integer>80</integer>
			</array>
			<key>Caret</key>
			<array>
				<integer>180</integer>
				<integer>180</integer>
				<integer>180</integer>
			</array>
			<key>Comment</key>
			<array>
				<integer>80</integer>
				<integer>80</integer>
				<integer>80</integer>
			</array>
			<key>OutlineBackground</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>OutlineHighlight</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>Light</key>
			<dict>
				<key>Background</key>
				<array>
					<integer>240</integer>
					<integer>240</integer>
					<integer>240</integer>
				</array>
				<key>Margin</key>
				<array>
					<integer>230</integer>
					<integer>230</integer>
					<integer>232</integer>
				</array>
				<key>Selection</key>
				<array>
					<integer>0</integer>
					<integer>110</integer>
					<integer>190</integer>
				</array>
				<key>Text</key>
				<array>
					<integer>45</integer>
					<integer>45</integer>
					<integer>45</integer>
				</array>
				<key>InvisibleText</key>
				<array>
					<integer>170</integer>
					<integer>170</integer>
					<integer>170</integer>
				</array>
				<key>Caret</key>
				<array>
					<integer>20</integer>
					<integer>20</integer>
					<integer>20</integer>
				</array>
				<key>Comment</key>
				<array>
					<integer>100</integer>
					<integer>100</integer>
					<integer>100</integer>
				</array>
				<key>OutlineBackground</key>
				<array>
					<integer>20</integer>
					<integer>21</integer>
					<integer>23</integer>
				</array>
				<key>OutlineHighlight</key>
				<array>
					<integer>230</integer>
					<integer>230</integer>
					<integer>230</integer>
				</array>
			</dict>
			<key>Dark</key>
			<dict>
				<key>Margin</key>
				<array>
					<integer>15</integer>
					<integer>15</integer>
					<integer>15</integer>
				</array>
				<key>Background</key>
				<array>
					<integer>25</integer>
					<integer>25</integer>
					<integer>25</integer>
				</array>
				<key>Selection</key>
				<array>
					<integer>150</integer>
					<integer>150</integer>
					<integer>150</integer>
				</array>
				<key>Text</key>
				<array>
					<integer>170</integer>
					<integer>170</integer>
					<integer>170</integer>
				</array>
				<key>InvisibleText</key>
				<array>
					<integer>80</integer>
					<integer>80</integer>
					<integer>80</integer>
				</array>
				<key>Caret</key>
				<array>
					<integer>180</integer>
					<integer>180</integer>
					<integer>180</integer>
				</array>
				<key>Comment</key>
				<array>
					<integer>80</integer>
					<integer>80</integer>
					<integer>80</integer>
				</array>
				<key>OutlineBackground</key>
				<array>
					<integer>5</integer>
					<integer>5</integer>
					<integer>5</integer>
				</array>
				<key>OutlineHighlight</key>
				<array>
					<integer>200</integer>
					<integer>200</integer>
					<integer>200</integer>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
