<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>0</integer>
	<key>themes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>Light</key>
			<dict>
				<key>Background</key>
				<array>
					<integer>240</integer>
					<integer>240</integer>
					<integer>240</integer>
				</array>
				<key>Margin</key>
				<array>
					<integer>230</integer>
					<integer>230</integer>
					<integer>232</integer>
				</array>
				<key>Selection</key>
				<array>
					<integer>0</integer>
					<integer>110</integer>
					<integer>190</integer>
				</array>
				<key>Text</key>
				<array>
					<integer>45</integer>
					<integer>45</integer>
					<integer>45</integer>
				</array>
				<key>SynopsisText</key>
				<array>
					<integer>90</integer>
					<integer>90</integer>
					<integer>90</integer>
				</array>
				<key>SectionText</key>
				<array>
					<integer>45</integer>
					<integer>45</integer>
					<integer>45</integer>
				</array>
				<key>PageNumber</key>
				<array>
					<integer>80</integer>
					<integer>80</integer>
					<integer>80</integer>
				</array>
				<key>InvisibleText</key>
				<array>
					<integer>170</integer>
					<integer>170</integer>
					<integer>170</integer>
				</array>
				<key>Caret</key>
				<array>
					<integer>0</integer>
					<integer>129</integer>
					<integer>239</integer>
				</array>
				<key>Macro</key>
				<array>
					<integer>0</integer>
					<integer>181</integer>
					<integer>175</integer>
				</array>
				<key>Comment</key>
				<array>
					<integer>100</integer>
					<integer>100</integer>
					<integer>100</integer>
				</array>
				<key>OutlineBackground</key>
				<array>
					<integer>20</integer>
					<integer>21</integer>
					<integer>23</integer>
				</array>
				<key>OutlineHighlight</key>
				<array>
					<integer>35</integer>
					<integer>35</integer>
					<integer>38</integer>
				</array>
				<key>OutlineSection</key>
				<array>
					<integer>255</integer>
					<integer>255</integer>
					<integer>255</integer>
				</array>
				<key>OutlineSceneNumber</key>
				<array>
					<integer>128</integer>
					<integer>128</integer>
					<integer>128</integer>
				</array>
				<key>OutlineSynopsis</key>
				<array>
					<integer>128</integer>
					<integer>128</integer>
					<integer>128</integer>
				</array>
				<key>OutlineItem</key>
				<array>
					<integer>220</integer>
					<integer>220</integer>
					<integer>220</integer>
				</array>
				<key>OutlineItemOmitted</key>
				<array>
					<integer>100</integer>
					<integer>100</integer>
					<integer>100</integer>
				</array>
				<key>OutlineNote</key>
				<array>
					<integer>100</integer>
					<integer>100</integer>
					<integer>100</integer>
				</array>
				<key>Highlight</key>
				<array>
					<integer>0</integer>
					<integer>129</integer>
					<integer>239</integer>
				</array>
				<key>Woman</key>
				<array>
					<integer>0</integer>
					<integer>223</integer>
					<integer>121</integer>
				</array>
				<key>Man</key>
				<array>
					<integer>255</integer>
					<integer>161</integer>
					<integer>13</integer>
				</array>
				<key>Other</key>
				<array>
					<integer>236</integer>
					<integer>0</integer>
					<integer>140</integer>
				</array>
				<key>Unspecified</key>
				<array>
					<integer>0</integer>
					<integer>129</integer>
					<integer>239</integer>
				</array>
			</dict>
			<key>Dark</key>
			<dict>
				<key>Margin</key>
				<array>
					<integer>15</integer>
					<integer>15</integer>
					<integer>15</integer>
				</array>
				<key>Background</key>
				<array>
					<integer>25</integer>
					<integer>25</integer>
					<integer>25</integer>
				</array>
				<key>Selection</key>
				<array>
					<integer>150</integer>
					<integer>150</integer>
					<integer>150</integer>
				</array>
				<key>Text</key>
				<array>
					<integer>170</integer>
					<integer>170</integer>
					<integer>170</integer>
				</array>
				<key>SynopsisText</key>
				<array>
					<integer>115</integer>
					<integer>115</integer>
					<integer>115</integer>
				</array>
				<key>SectionText</key>
				<array>
					<integer>170</integer>
					<integer>170</integer>
					<integer>170</integer>
				</array>
				<key>InvisibleText</key>
				<array>
					<integer>80</integer>
					<integer>80</integer>
					<integer>80</integer>
				</array>
				<key>Caret</key>
				<array>
					<integer>0</integer>
					<integer>129</integer>
					<integer>239</integer>
				</array>
				<key>Macro</key>
				<array>
					<integer>0</integer>
					<integer>181</integer>
					<integer>175</integer>
				</array>
				<key>Comment</key>
				<array>
					<integer>80</integer>
					<integer>80</integer>
					<integer>80</integer>
				</array>
				<key>OutlineBackground</key>
				<array>
					<integer>5</integer>
					<integer>5</integer>
					<integer>5</integer>
				</array>
				<key>OutlineHighlight</key>
				<array>
					<integer>35</integer>
					<integer>35</integer>
					<integer>38</integer>
				</array>
				<key>PageNumber</key>
				<array>
					<integer>80</integer>
					<integer>80</integer>
					<integer>80</integer>
				</array>
				<key>OutlineSection</key>
				<array>
					<integer>255</integer>
					<integer>255</integer>
					<integer>255</integer>
				</array>
				<key>OutlineSceneNumber</key>
				<array>
					<integer>128</integer>
					<integer>128</integer>
					<integer>128</integer>
				</array>
				<key>OutlineSynopsis</key>
				<array>
					<integer>128</integer>
					<integer>128</integer>
					<integer>128</integer>
				</array>
				<key>OutlineItem</key>
				<array>
					<integer>220</integer>
					<integer>220</integer>
					<integer>220</integer>
				</array>
				<key>OutlineItemOmitted</key>
				<array>
					<integer>100</integer>
					<integer>100</integer>
					<integer>100</integer>
				</array>
				<key>OutlineNote</key>
				<array>
					<integer>100</integer>
					<integer>100</integer>
					<integer>100</integer>
				</array>
				<key>Highlight</key>
				<array>
					<integer>0</integer>
					<integer>129</integer>
					<integer>239</integer>
				</array>
				<key>Woman</key>
				<array>
					<integer>0</integer>
					<integer>223</integer>
					<integer>121</integer>
				</array>
				<key>Man</key>
				<array>
					<integer>255</integer>
					<integer>161</integer>
					<integer>13</integer>
				</array>
				<key>Other</key>
				<array>
					<integer>236</integer>
					<integer>0</integer>
					<integer>140</integer>
				</array>
				<key>Unspecified</key>
				<array>
					<integer>0</integer>
					<integer>129</integer>
					<integer>239</integer>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
