<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Fountain Screenplay</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>fi.KAPITAN.fountain</string>
				<string>io.fountain</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Plain Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>BeatDocument 256</string>
			<key>CFBundleURLName</key>
			<string>fi.KAPITAN.Beat-iOS.launch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>beat</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>fi.KAPITAN.Beat.editing</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Courier Prime.ttf</string>
		<string>Courier Prime Bold.ttf</string>
		<string>Courier Prime Bold Italic.ttf</string>
		<string>Courier Prime Italic.ttf</string>
		<string>Courier Prime Sans.ttf</string>
		<string>Courier Prime Sans Bold.ttf</string>
		<string>Courier Prime Sans Italic.ttf</string>
		<string>Courier Prime Sans Bold Italic.ttf</string>
		<string>Courier Prime Sans Italic.ttf</string>
		<string>NotoEmoji.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>io.fountain</string>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Fountain script</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>fi.KAPITAN.fountain</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fountain</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>io.fountain</string>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Fountain script</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>fi.KAPITAN.fountain</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fountain</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Final Draft</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Beat-FDX.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.finaldraft.fdx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fdx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Fade In</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Beat-FadeIn.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.generalcoffee.fadein</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fadein</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/xml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
