<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Fountain Screenplay</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>fi.KAPITAN.fountain</string>
				<string>io.fountain</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>UIAppFonts</key>
	<array>
		<string>Courier Prime.ttf</string>
		<string>Courier Prime Bold.ttf</string>
		<string>Courier Prime Bold Italic.ttf</string>
		<string>Courier Prime Italic.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>io.fountain</string>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Fountain script</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>fi.KAPITAN.fountain</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fountain</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
