body {
	margin: 0rem;
	background-color: #f5f5f5;
	color: #3b3b3b;
	font-size: .925em;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
	background-color: #fefefe;
	max-width: 38rem;
	min-width: 20rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	padding: 1.25rem 1.25rem 1.55rem 1.25rem;
}

h1,
h2,
h3,
p,
ul,
ol,
blockquote,
dl {
	margin-left: 1rem;
	margin-right: 1rem;
}

h1 {
	margin-top: .25em;
	margin-bottom: .7rem;
	font-weight: 300;
	font-size: 1.8em;
}

h2 {
	margin-top: 1.9em;
	padding-bottom: .3em;
	font-size: 1.2em;
	
	font-weight: bold;
	border-bottom: solid 1px #666;
}

h3 {
	margin-top: 1.5em;
	font-size: 1em;
}

p {
	line-height: 1.4em;
	margin-bottom: .75em;
	margin-top: 0;
}

a:link,
a:active,
a:visited {
	color: #0075ee;
}

ol li a:hover {
	color: black;
}

ol a:link,
ol a:visited {
	text-decoration: none;
	color: #555;
}

ul a:link,
ul a:visited {
	text-decoration: none;
	color: #888;
}

ol {
	padding-left: 1rem;
}

#menuToc ol {
	margin: 0;
	padding: 0 0 0 2rem;
}

dl {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.forcedElements dd {
	font-family: Courier, monospace;
}

dt,
dd {
	width: 50%;
	margin: .25em 0 .25em 0;
	padding: 0;
}

dd {
	width: 15%;
	color: #888;
}

dt {
	width: 85%;
}

img {
	max-width: 100%;
	height: auto;
}

.image {
	margin-bottom: .75em;
}

.shortcut {
	font-family: Helvetica, sans-serif;
	color: #888;
}

h2 .shortcut {
	font-size: 80%;
}

.image.right {
	margin-left: 1rem;
	margin-bottom: 1rem;
	max-width: 40%;
	float: right;
}

kbd {
	font-family: courier, monospace;
	font-size: 1em;
	padding-left: .2rem;
	padding-right: .2rem;
	background-color: #f7f7f7;
	border: 0.1rem solid #aaa;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #888;
	white-space: pre-wrap;
}

code {
	font-family: courier, monospace;
	font-size: 1em;
	padding-left: .2rem;
	padding-right: .2rem;
	background-color: #f7f7f7;
	border: 0.1rem solid #d7d7d7;
	border-radius: 3px;
	white-space: pre-wrap;
}

pre,
.blockExample {
	margin: 1rem auto 1rem auto;
	padding: 1rem;
	font-family: courier, monospace;
	font-size: 1em;
	min-height: 1.2em;
	background-color: #f7f7f7;
	border: 0.1rem solid #d7d7d7;
	border-radius: 3px;

	white-space: pre-wrap;
}

.bold {
	font-weight: bold;
	text-transform: uppercase;
}

#dialogue {
	min-height: 2.3em;
}

#parentheses {
	min-height: 3.5em;
}

.inset {
	padding-left: 25%;
	text-indent: 6em;
}

.parenthesesInset span {
	padding-left: 3em;
}

#stylization {
	min-height: 3.5em;
}

.makeItalic .fItalic {
	font-style: italic;
}

.makeBold .fBold {
	font-weight: bold;
}

.makeUnderline .fUnderline {
	text-decoration: underline;
}

.fSymbol, .makeItalic .symbol, .makeBold .symbol2, .makeUnderline .symbol3 {
	color: #ccc;
}

.centered {
	text-align: center;
}

.rightAlign {
	display: block;
	text-align: right;
}

.transition {
	text-align: right;
}

#storyOutlining {
	color: #666;
}

#dualDialogue {
	padding-left: 15%;
}

#bigFish {
	min-height: 5.8em;
}

.fauxCharacter {
	display: inline-block;
	text-indent: 14em;
}

.fauxCharacter2 {
	display: inline-block;
	text-indent: 14em;
}

.firstFaux .fauxCharacter {
	text-indent: 0;
}

.secondFaux .fauxCharacter2 {
	text-indent: 0;
}

.caret {
	position: absolute;
	width: 1px;
	height: 1.2em;
	margin-left: .1em;
	margin-bottom: -.25em;
	background-color: black;
	display: inline-block;
	animation: caretAnimation 1s linear infinite;
}

@keyframes caretAnimation {
	0% {
		opacity: 0;
	}

	1% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	51% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

/* Table of contents */

.toc {
	margin-top: 0rem;
}

.omit {
	color: #ccc;
}

/*
MAIN CONTAINER
*/

#mainContainer {
	display: flex;
	justify-content: center;
}

#menuContainer,
#page {
	padding: 1rem;
}

#menuContainer {
	width: auto;
	max-width: 14rem;
	min-width: 11rem;
	position: relative;
	display: flex;
	flex: 1;
}

#menu {
	position: fixed;
}

#menu #menuToc {
	position: relative;
	min-width: 200px;
	max-width: 12rem;
	width: 100%;
	max-height: 100vh;
	overflow-y: scroll;
	top: 0;
}

#menu ul,
#menu ol,
.toc ul {
	font-size: .9em;
	margin: 0;
	padding: 0;
}

#menu ol {
	padding-left: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

#menu ul,
.toc ul {
	padding-left: 1em;
}

#menu li,
.toc li {
	margin: .25em 0 .25em 0;
}

#menu ol li,
.toc ol li {
	margin: .5em 0 .5em 0;
}

#menu ol ul li,
.toc ol ul li {
	margin: .2em 0 .2em 0;
}

@media screen and (max-width: 800px) {
	#menuContainer {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #0a0a0a;
		color: #c4c4c4;
	}

	section {
		background-color: #151515;
	}

	h2 {
	
	}

	ol li a:hover {
		color: white;
	}

	ol a:link,
	ol a:visited {
		text-decoration: none;
		color: #afafaf;
	}

	ul a:link,
	ul a:visited {
		text-decoration: none;
		color: #7f7f7f;
	}

	dd {
		color: #7f7f7f;
	}

	.shortcut {
		color: #7f7f7f;
	}

	kbd {
		background-color: #080808;
		border: 0.1rem solid #5f5f5f;
		box-shadow: 1px 1px 2px #7f7f7f;
	}

	code {
		background-color: #252525;
		border: none;
		padding: .1em .3em .1em .3em;
	}

	pre,
	.blockExample {
		background-color: #222;
		border: 0.1rem solid #282828;
	}

	.fSymbol, .makeItalic .symbol, .makeBold .symbol2, .makeUnderline .symbol3 {
		color: #666;
	}

	#storyOutlining {
		color: #9f9f9f;
	}

	.omit {
		color: #3f3f3f;
	}
}

/*

TOGGLE SWITCH

*/
/*
.switch {
	display: inline-block;
	width: 30px;
	height: 15px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius:34px;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}